<app-header-site></app-header-site>

<div class="container">
  <div class="body-viagem">
    <h1>{{ viagem.titulo }}</h1>

    <div class="d-flex align-center justify-content-center" style="gap: 10px">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
          <button *ngFor="let image of fotos; let i = index" type="button" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let image of fotos; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="image.file" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
