<div class="content-direitos">
  <p class="text-center">2024 - Todos os direitos reservados. Minha Excursão Viagens e Turismo Ltda - Rua dos Andradas, 1155/1202 - Centro - Porto Alegre - RS - Todas as viagens aqui disponíveis poderão sofrer alterações sem aviso prévio. As viagens possuem disponibilidade limitada podendo assim, ao entrar em contato, terem se esgotado. Em todas as viagens são gerados contrato. Consulte as formas de pagamento e parcelamento durante a contato.</p>
</div>

<div class="content-links"  *ngIf="innerWidth > 500">
  <a href="/quem-somos">QUEM SOMOS</a>
  <a href="/termos-de-uso">TERMOS DE USO</a>
  <a href="/politica-de-privacidade">POLÍTICA DE PRIVACIDADE</a>
  <a href="/seguranca">SEGURANÇA</a>
  <a (click)="getWhats()">CONTATO</a>
</div>

<div style="display: flex; align-items: center; flex-direction: column; gap: 15px" *ngIf="innerWidth < 501">
    <a href="/quem-somos">QUEM SOMOS</a>
    <a href="/termos-de-uso">TERMOS DE USO</a>
    <a href="/politica-de-privacidade">POLÍTICA DE PRIVACIDADE</a>
    <a href="/seguranca">SEGURANÇA</a>
    <a (click)="getWhats()">CONTATO</a>
</div>

<div class="content-footer">
  <div>
    <img class="img-embratur" src="assets/embratur.webp" alt="">
  </div>
  <div>
    <img (click)="insta()" class="img-icon-insta" src="assets/icon_insta.png" alt="">
  </div>
</div>
