<div class="content-carrossel">
  <button  (click)="slickModal.slickPrev()" style="transform: rotate(180deg);"><img src="assets/arrow.png" alt=""></button>

<ngx-slick-carousel #slickModal="slick-carousel" class="container" [config]="slideConfig" style="width: 1150px !important;">

<div ngxSlickItem class="carousel" *ngFor="let card of cards">

    <div class="content-card">
      <div>
        <img src="assets/floribal.png" alt="">
      </div>
      <div class="box-card">
        <h4>{{card.title}}</h4>
        <p>{{card.date}}</p>
        <p class="text-center">R$ {{card.value}}<br>{{card.condition}}</p>
        <button>SAIBA MAIS SOBRE A VIAGEM</button>
      </div>
    </div>

  </div>


</ngx-slick-carousel>
<button  (click)="slickModal.slickNext()"><img src="assets/arrow.png" alt=""></button>

</div>
