.content-viagens{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(25, 22, 41);
  padding-top: 30px;

}

.content-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 270px;
}

.content-card img{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.box-card{
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.box-card h4{
 text-align: center;
 margin-top: 10px;
}

.box-card button{
  width: 100%;
  background-color: rgb(19, 148, 223);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
 }

 .content-btn-filter{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
 }

 /* From Uiverse.io by vikiWayne */
.button {
  padding: 0.7em 0.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #167440;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #167440;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #167440;
  box-shadow: 4px 5px 17px -4px #167440;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #167440;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}
