<div style="display: flex; align-items: center; flex-direction: column; justify-content: space-between; height: 100%;">
  <div class="header" *ngIf="innerWidth > 881">
    <div routerLink="/">
      <img class="logo" src="assets/logo.png" alt="">
    </div>
    <div class="menus-header">
      <a style="cursor: pointer; color: white; text-decoration: none;" (click)="voltar()">
        Voltar
      </a>
    </div>
    <div style="opacity: 0;">
      <img class="logo" src="assets/logo.png" alt="">
    </div>
  
  </div>
  
  <div class="header-responsive" *ngIf="innerWidth < 882">
    <div routerLink="/">
      <img class="logo" src="assets/logo.png" alt="">
    </div>
    <a style="cursor: pointer; color: white; text-decoration: none;" (click)="voltar()">
      Voltar
    </a>
  </div>
  
<div style="display: flex; align-items: center; flex-direction: column;">
  <div class="content-body container">
    <h2>Termos de uso</h2>
  </div>
  
  <div class="content-body container">
    <h5 style="text-align: justify;">A CENTRO OPERADORA, poderá, a qualquer momento e a seu exclusivo critério, 
      modificar a configuração de seu site, podendo também eliminar ou acrescentar quaisquer eventos cadastrados em seu banco de dados.
      <br>
      <br>
      Todo o conteúdo (incluindo, mas não se limitando a, textos, programas de computador, sons, fotografias e 
      outros materiais disponíveis no site da CENTRO OPERADORA, marcas, patentes, modelos, desenhos industriais 
      entre outros), a aparência, a organização e a estrutura da CENTRO OPERADORA são protegidas pela legislação 
      de propriedade intelectual aplicável e não infringem qualquer lei ou norma a que estejam subordinadas, 
      contratos, documentos, acordos dos quais faz parte, bem como não infringe direitos de terceiros.
      <br>
      <br>
      A CENTRO OPERADORA reserva-se o direito de recusar ou bloquear o acesso ao website e/ou seus conteúdos, a 
      qualquer momento e sem necessidade de aviso prévio, por iniciativa própria ou exigência de terceiros, 
      daqueles usuários que descumpram estes Termos de Uso, ou que de alguma forma, executem ações que resultem ou 
      possam resultar em atividades ilegais.
      <br>
      <br>
      É vedado ao USUÁRIO modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, disponibilizar, 
      licenciar ou criar obras derivadas a partir das informações coletadas no site da SHOWTRIP, bem como transferir ou vender 
      tais informações, software, produtos ou serviços, sob pena de violação do presente termo e infração legal.
      <br>
      <br>
      É vedado aos USUÁRIOS
      <br>
      <br>
      <li>fazer a distribuição de cópias do site da CENTRO OPERADORA;</li>
      <li>utilizar qualquer forma trechos, técnica de engenharia reversa no desenvolvimento ou criação de outros trabalhos a fim de se analisar sua constituição;</li>
      <li>divulgar conteúdo ou arquivos sem autorização;</li>
      <li>Eventuais erros no funcionamento do site da CENTRO OPERADORA serão corrigidos durante o período que for necessário para manutenção. A CENTRO OPERADORA não se responsabiliza por danos decorrentes da não disponibilidade ou erro de funcionamento do site da CENTRO OPERADORA.</li>
      <br>
      <br>
      Apesar de todo o esforço e investimento feito pela CENTRO OPERADORA na tecnologia, desenvolvimento e manutenção deste website, 
      fica a mesma eximida de quaisquer responsabilidades, prejuízos e/ou lucros cessantes de qualquer natureza, que possam ser 
      originadas de vírus ou outros elementos nocivos nos conteúdos e que, desta forma, possam produzir alterações e/ou danos nos 
      equipamentos e programas dos usuários.
      <br>
      <br>
      Quaisquer avisos ou comunicações, que uma das partes tenha de fazer a outra parte, em relação a quaisquer direitos ou obrigações 
      contidas no presente instrumento, deverão adotar a forma escrita e serão tidas como eficazmente entregues no endereço da CENTRO OPERADORA, 
      se: (a) entregues em mãos mediante protocolo escrito por quem de direito possa representar a parte remetida; (b) enviadas por serviço de 
      "courier" mediante protocolo escrito ou se pelo correio, na forma de carta registrada ("AR"); ou (c) enviadas por e-mail, ou outro meio 
      eletrônico hábil para tais comunicações. As partes convencionam o recebimento de mensagens e arquivos eletrônicos como prova documental 
      para todos os efeitos, desde que com aviso de confirmação de recebimento ou outro tipo de protocolo que certifique o recebimento da comunicação.
      <br>
      <br>
      Através de sua Política de Privacidade, a CENTRO OPERADORA se obriga a envidar seus melhores esforços para manter em confidencialidade todo e qualquer 
      dado pessoal do USUÁRIO que tenha se registrado no site.
      <br>
      <br>
      A CENTRO OPERADORA não se responsabiliza pelos Dados Pessoais inseridos pelo usuário.
      <br>
      <br>
      O USUÁRIO deve completar o formulário cadastral fornecendo dados e informações verdadeiras e precisas, responsabilizando-se civil e criminalmente 
      por sua veracidade, devendo atualizar os dados e informações sempre que houver alterações.
      <br>
      <br>
      O USUÁRIO está ciente de que
      <br>
      <br>
      <li>leu e está de acordo com os termos e condições deste instrumento</li>
      <li>leu e está de acordo com o link Política de Privacidade</li>
      <li>leu e está de acordo com o link Segurança</li>
      <li>Ao acessar e navegar no site, o usuário aceita, sem limitações ou qualificação, os seus termos e condições e reconhece que quaisquer outros entendimentos entre o usuário e a CENTRO OPERADORA ficam anulados, deixando de ter qualquer valor ou efeito.</li>
      <br>
      <br>
      As partes elegem o foro da Comarca de Porto Alegre, no Rio Grande do Sul, como competente para dirimir quaisquer controvérsias decorrentes 
      deste TERMO DE USO, independentemente de qualquer outro, por mais privilegiado que seja ou venha a ser.
    </h5>
  </div>
</div>
  
  <app-footer style="margin-top: 20px;"></app-footer>
</div>