<app-header></app-header>

<div class="title-cadastro">
  Cadastrar Viagem
</div>


<form>
<div class="content-cadastro">
  <div class="content-form-cadastro">
    <div style="display: flex; align-items: flex-start; flex-direction: column; width: 100%; justify-content: flex-start; margin-left: 200px; margin-top: 20px; gap: 10px; margin-bottom: 20px;">
      <div style="display: flex; align-items: center; gap: 10px ;">
        <label class="switch">
          <input formControlName="ativo" type="checkbox">
          <span class="slider"></span>
        </label>
        <label for="">ativar?</label>
      </div>
    </div>
    <div class="content-inputs">

      <div class="input-label">
        <label for="">Título</label>
        <input type="text" formControlName="titulo">
      </div>

      <div class="input-label">
        <label for="">Vagas</label>
        <input type="number" formControlName="vagas">
      </div>

    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Data de ida</label>
        <input type="date" formControlName="data_ida">
      </div>

      <div class="input-label">
        <label for="">Data de retorno</label>
        <input type="date" formControlName="data_volta">
      </div>

    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Whats do parceiro</label>
        <input type="text" formControlName="whats_parceiro">
      </div>

      <div class="input-label">
        <label for="">Tipo de negócio</label>
        <select formControlName="tipo_negocio">
          <option value="">Selecione uma opção</option>
          <option value="Final de Semana">Final de Semana</option>
          <option value="Bate e Volta ">Bate e Volta </option>
          <option value="Aéreo">Aéreo</option>
          <option value="Rodoviário">Rodoviário</option>
          <option value="Religioso">Religioso</option>
        </select>
      </div>

    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Valor da parcela</label>
        <input type="text" formControlName="valor_parcela">
      </div>

      <div class="input-label">
        <label for="">Taxa administrativa</label>
        <input type="text" formControlName="taxa_adm">
      </div>
    </div>
    <div class="content-inputs mt-4">
      <div class="input-label">
        <label for="">Fornecedor</label>
        <select formControlName="fornecedor">
          <option value="">Selecione uma opção</option>
          <option value="Laghetto">Laghetto</option>
          <option value="Ibis Hotel">Ibis Hotel</option>

        </select>
      </div>

      <div class="input-label">
        <label for="">Markup</label>
        <input type="text" formControlName="markup">
      </div>
    </div>
    <div class="content-inputs mt-4">

      <div class="input-label">
        <label for="">Parcelamento</label>
        <input type="text" formControlName="parcelamento">
      </div>

      <div class="input-label">
        <label for="">Preço</label>
        <input type="text" formControlName="preco">
      </div>

    </div>

    <div class="content-inputs mt-5">

      <button class="btn-voltar" >Voltar</button>
      <button class="btn-salvar" >Enviar</button>

    </div>

  </div>
</div>
</form>
