<div class="header" *ngIf="innerWidth > 881">
  <div routerLink="/">
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div class="menus-header">
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/final-de-semana">
      FINAL DE SEMANA
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/bate-e-volta">
      BATE E VOLTA
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/Aereo">
      AÉREO
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/rodoviario">
      RODOVIÁRIO
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/religioso">
      RELIGIOSO
    </a>
  </div>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <img src="assets/icon_gmail.png" style="width: 35px; cursor: pointer; margin-left: -15px;" (click)="email()">
  </div>

</div>

<div class="header-responsive" *ngIf="innerWidth < 882">
  <div routerLink="/">
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div (click)="abrirMenu()">
    <img src="assets/icon_menu.svg" style="width: 120%;">
  </div>
</div>

<div class="menu" *ngIf="this.menu && innerWidth < 882">
  <a style="cursor: pointer; color: white; text-decoration: none; padding-top: 10px;" href="/final-de-semana">
    FINAL DE SEMANA
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/bate-e-volta">
    BATE E VOLTA
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/Aereo">
    AÉREO
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/rodoviario">
    RODOVIÁRIO
  </a>
  <a style="cursor: pointer; color: white; text-decoration: none;" href="/religioso">
    RELIGIOSO
  </a>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <img src="assets/icon_gmail.png" style="width: 35px; cursor: pointer; margin-left: -15px;" (click)="email()">
  </div>
</div>
