<div class="header" *ngIf="innerWidth > 881">
  <div routerLink="/">
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div class="menus-header">
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/final-de-semana">
      Final de Semana
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/bate-e-volta">
      Bate e Volta
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/Aereo">
      Aéreo
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/rodoviario">
      Rodoviário
    </a>
    <a style="cursor: pointer; color: white; text-decoration: none;" href="/religioso">
      Religioso
    </a>
  </div>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <button routerLink="/login">ÁREA DO AGENTE</button>
  </div>

</div>

<div class="header-responsive" *ngIf="innerWidth < 882">
  <div>
    <img class="logo" src="assets/logo.png" alt="">
  </div>
  <div (click)="abrirMenu()">
    <img src="assets/icon_menu.svg" style="width: 120%;">
  </div>
</div>

<div class="menu" *ngIf="this.menu && innerWidth < 882">
  <div style="cursor: pointer;">
      Final de Semana
    </div>
    <div style="cursor: pointer;">
      Bate e Volta
    </div>
    <div style="cursor: pointer;">
      Aéreo
    </div>
    <div style="cursor: pointer;">
      Rodoviário
    </div>
    <div style="cursor: pointer;">
      Religioso
    </div>
  <div class="content-button-header">
    <img src="assets/icon_whats.png" style="width: 65px; cursor: pointer;" (click)="whats()">
    <button routerLink="/login">ÁREA DO AGENTE</button>
  </div>
</div>
