html, body{
  background-color: rgb(25, 22, 41);
}

.ql-snow .ql-fill {
  fill: #ffffff !important; /* Cor branca para qualquer ícone com preenchimento */
  color: white;
}

.ql-snow .ql-picker{
  fill: #ffffff !important; /* Cor branca para qualquer ícone com preenchimento */
  color: white !important;
}

.ql-snow .ql-stroke{
  stroke: #ffffff !important;
}

.ql-container .ql-snow{
  border-radius: 10px !important;
}

.btn-voltar{
  width: 150px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border: none;
  background-color: rgb(107, 25, 25);
  border-radius: 5px;
}

.btn-salvar{
  width: 150px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border: none;
  background-color: rgb(41, 107, 25);
  border-radius: 5px;
}

.select2-selection__choice {
  padding-left: 24px !important;
}

.select2-selection__choice__remove {
  margin-left: 0px !important; /* Espaçamento à esquerda do ícone de remover */
  color: #dc3545 !important; /* Cor do X (opcional) */
}
