html, body{
  background-color: rgb(25, 22, 41);
}

.ql-snow .ql-fill {
  fill: #ffffff !important; /* Cor branca para qualquer ícone com preenchimento */
  color: white;
}

.ql-snow .ql-picker{
  fill: #ffffff !important; /* Cor branca para qualquer ícone com preenchimento */
  color: white !important;
}

.ql-snow .ql-stroke{
  stroke: #ffffff !important;
}

.ql-container .ql-snow{
  border-radius: 10px !important;
}
