table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #ddd;
  }

  tr {
    background-color: #ddd;
  }

  .content-clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(25, 22, 41);
    padding-top: 30px;

  }
  .content-btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
   }

   /* From Uiverse.io by vikiWayne */
  .button {
    padding: 0.7em 0.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #167440;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #167440;
  }

  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #167440;
    box-shadow: 4px 5px 17px -4px #167440;
  }

  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #167440;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  .button:hover::before {
    width: 250%;
  }
